.meme{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.meme--form{
  display: flex;
  flex-direction: column;
}
.meme--input-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin-bottom: 15px;
}
.meme--form input{
  min-width: 230px;
  max-width: 650px;
  width: 45%;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid var(--border);
}
.meme--button{
  min-width: 490px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--background);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-family: var(--karla);
  font-size: 1rem;
  color: white;
  cursor: pointer;
}