.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--background);
  height: 80px;
}
.header--Nav{
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 20px;
  align-items: center;
  flex-grow: 1;
  color: white;
}
.header--LeftNav{
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: var(--karla);
  font-weight: 700;
  gap: 10px;
  font-size: 1.25rem;
}
.img-div{
  max-height: 29.4px;
}
.header--LeftNav img{
  max-width: 35px;
  max-height: 29.4px;
}
.header--SubTitle{
  font-family: var(--inter);
  font-size: .75rem;
  font-weight: 500;
}
